## EXPIRES CACHING ##
# OK <IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg  "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif  "access 1 year"
  ExpiresByType image/png  "access 1 year"
  ExpiresByType text/css   "access 1 month"
  ExpiresByType text/svg   "access 1 month"
  ExpiresByType image/x-icon      "access 1 year"
  ExpiresByType application/pdf   "access 1 month"
  ExpiresByType text/x-javascript "access 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresDefault "access 30 days"
# OK </IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z,0-9,A-Z,_-]+)$ ./$1.php